<header>
    <div class="nav-responsive visible-xs visible-sm">
        <a class="navbar-brand" href="overview.html"><img src="../../../_static/images/logo-aareon-picto.png" alt="Aaeron, we mange it for you"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <div class="navbar navbar-default main-nav">
            <div class="container-fluid">
                <div class="navbar-header col-xs-3 hidden-xs hidden-sm">
                    <a class="navbar-brand" href="../../../overview.html"><img src="../../../_static/images/logo-aareon-picto.png" alt=""><img src="../../../_static/images/logo-aareon.png" alt="Aaeron, we mange it for you"></a>
                </div>
            </div>
        </div>
          
        <div class="navbar navbar-default title-nav">
            <div class="container">
                <p class="title-nav-secondary">Digital Platform Documentation</p>
            </div>
        </div>

        <div class="navbar navbar-default secondary-nav" data-spy="affix" data-offset-top="60">
            <div class="container">
                <ul class="nav navbar-nav" id="navigation">
                    <li>
                        <a href="../../../overview.html" title="overview" id="overview" data-tab="overview">Overview</a>
                    </li>
                
                    <li>
                        <a href="../../../guide.html" title="guide" id="guide" data-tab="guide">Guides</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
